<body>
  <nav>
    <div class="row">
      <div class='small-6 columns logo'>
        <%= image_tag("logo.png") %>
      </div>
      <div class='small-5 meduim-4 columns top-number'>
        1.800.774.7085
      </div>
    </div>
  </nav>
  <div class="font-title">
    Advanced Inventory 
    </br> 
    Managment Software
  </div>
  <div>
    <%= image_tag("laptop.gif") %>
  </div>
  <div>
    Four reasons you should use Fishbowl:
  </div>
  <div>
    <ul>
      <li><%= image_tag("checkmark.png") %><span Class='bold'>Integrate</span>seamlessly with QuickBooks</li>
      <li><%= image_tag("checkmark.png") %><span Class='bold'>Increase</span>your effciency to save time</li>
      <li><%= image_tag("checkmark.png") %><span Class='bold'>Integrate</span> multiple warehouses</li>
      <li><%= image_tag("checkmark.png") %><span Class='bold'>Integrate</span>costs by cutting inventory levels</li>
    </ul>
  </div>
  <span><%= image_tag("high-profile-general-electric.png") %></span>
  <span><%= image_tag("high-profile-lowes.png") %></span>
  <span><%= image_tag("high-profile-boeing.png") %></span>
  <span><%= image_tag("high-profile-nasa.png") %></span>
</body>