<body>
  <nav>
    <div class="row">
      <div class='small-6 columns logo'>
        <%= image_tag("logo.png") %>
      </div>
      <div class='small-5 meduim-4 columns top-number'>
        1.800.774.7085
      </div>
    </div>
    </nav>
  <div class="font-title">
    Advanced Inventory 
    </br> 
    Managment Software
  </div>
  <div>
    <%= image_tag("laptop.gif") %>
  </div>
  <div>
    Four reasons you should use Fishbowl:
  </div>
  <div>
      <ul>
        <li><%= image_tag("checkmark.png") %><span Class='bold'>Integrate </span>seamlessly with QuickBooks</li>
        <li><%= image_tag("checkmark.png") %><span Class='bold'>Increase </span>your effciency to save time</li>
        <li><%= image_tag("checkmark.png") %><span Class='bold'>Manage </span> multiple warehouses</li>
        <li><%= image_tag("checkmark.png") %><span Class='bold'>Cut </span>costs by cutting inventory levels</li>
      </ul>
  </div>
  <div class='row'>
    <span class='small-3 large-4 columns'><%= image_tag("high-profile-general-electric.png") %></span>
    <span class='small-3 large-4 columns'><%= image_tag("high-profile-lowes.png") %></span>
    <span class='small-3 large-4 columns'><%= image_tag("high-profile-boeing.png") %></span>
    <span class='small-3 large-4 columns'><%= image_tag("high-profile-nasa.png") %></span>
  </div>
    <!-- form -->
  <form>
        <hr>
    <div class="row">
      <div class="small-12 columns">
        <label>Start Your Free Trial</label>
      </div>
      <div class="small-6 columns">
        <label>First name:
          <input type="text" placeholder="First name" />
        </label>
      </div>
      <div class="small-6 columns">
        <label>Last Name:
          <input type="text" placeholder="Last Name" />
        </label>
      </div>
      <div class="small-12 columns">
          <label>Company Name:
            <input type="text" placeholder="Company Name" />
          </label>
        </div>
      </div>
      <div class="small-12 columns">
          <label>Email:
            <input type="text" placeholder="Email" />
          </label>
        </div>
      </div>
      <div class="small-9 columns">
          <label>Phone Number:
            <input type="text" placeholder="Company Name" />
          </label>
        </div>
      </div>
      <div class="small-3 columns">
          <label>Ext:
            <input type="text" placeholder="Ext" />
          </label>
        </div>
      </div>
    <div class="row">
      <div class="small-12 columns">
        <label>State:
          <select>
            <option value="None">None</option>
            <option value="Utah">Utah</option>
          </select>
        </label>
      </div>
    </div>
      <div class="row">
      <div class="small-12 columns">
        <label>Country:
          <select>
            <option value="United States Of America">United States Of America</option>
          </select>
        </label>
        <a href="#" class="button radius small-12 columns">Start Free Trial</a>
      </div>
    </div>
  </form>
</body>